In [2]:
import pandas as pd

In [3]:
teen_data = pd.read_csv("../data/teen_data.csv")
activities = pd.read_csv("../data/activities.csv")
updated_activities = pd.read_csv("../data/updated_activities.csv")

In [6]:
teen_data.head(2)

,Unnamed: 0,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,LAW_CAT_CD,BORO_NM,Latitude,Longitude,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,71,637011777,12/31/2018,08:50:00,VIOLATION,BROOKLYN,40.666662,-73.941062,<18,WHITE,M
1,75,466770769,12/31/2018,19:45:00,VIOLATION,BROOKLYN,40.632894,-73.947699,<18,BLACK,F

In [5]:
updated_activities.head(2)

,Unnamed: 0,PROGRAM.TYPE,PROGRAM,SITE.NAME,BOROUGH...COMMUNITY,AGENCY,Contact.Number,Grade.Level...Age.Group,Location.1,Postcode,Latitude,Longitude
0,1,"Immigration Services,Immigrant Support Service...",NDA Immigrants,Make the Road New York,Jackson Heights,Make the Road New York,718-418-7690 X 205,Adult,92 10 Roosevelt Avenue,11372,40.748623,-73.874487
1,2,Jobs & Internships,Young Adult Internship Program,"NYSARC, Inc. NYC Chapter",Staten Island,"NYSARC, Inc. NYC Chapter",718.246.1506,16 to 24,120 Stuyvesant Place,10301,40.642992,-74.076954

In [7]:
updated_activities.columns

Index(['Unnamed: 0', 'PROGRAM.TYPE', 'PROGRAM', 'SITE.NAME',
       'BOROUGH...COMMUNITY', 'AGENCY', 'Contact.Number',
       'Grade.Level...Age.Group', 'Location.1', 'Postcode', 'Latitude',
       'Longitude'],
      dtype='object')

In [8]:
teen_data.columns

Index(['Unnamed: 0', 'CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM',
       'LAW_CAT_CD', 'BORO_NM', 'Latitude', 'Longitude', 'VIC_AGE_GROUP',
       'VIC_RACE', 'VIC_SEX'],
      dtype='object')

In [10]:
set(teen_data['BORO_NM'])

{'BRONX', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'STATEN ISLAND'}

In [11]:
set(updated_activities['BOROUGH...COMMUNITY'])

{'Astoria',
 'Bronx',
 'Brooklyn',
 'Brookyn',
 'Corona',
 'Flushing',
 'Forest Hills',
 'Jackson Heights',
 'Jamaica',
 'Kew Gardens',
 'Long Island City',
 'Manhattan',
 'New York',
 'New York ',
 'Queens',
 'Staten Island'}

In [27]:
updated_activeis_byteen = updated_activities[(updated_activities['BOROUGH...COMMUNITY'] == 'Bronx') | (updated_activities['BOROUGH...COMMUNITY'] == 'Brooklyn')| (updated_activities['BOROUGH...COMMUNITY'] == 'Manhattan')| (updated_activities['BOROUGH...COMMUNITY'] == 'Queens')| (updated_activities['BOROUGH...COMMUNITY'] == 'Staten Island') ]

In [29]:
updated_activeis_byteen.to_csv('updated_activities_by_teen_borough')