In [2]:
import pandas as pd

In [33]:
teen_data = pd.read_csv("../data/teen_data.csv")
activities = pd.read_csv("../data/activities.csv")
updated_activities = pd.read_csv("../data/updated_activities.csv")

In [6]:
teen_data.head(2)

,Unnamed: 0,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,LAW_CAT_CD,BORO_NM,Latitude,Longitude,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,71,637011777,12/31/2018,08:50:00,VIOLATION,BROOKLYN,40.666662,-73.941062,<18,WHITE,M
1,75,466770769,12/31/2018,19:45:00,VIOLATION,BROOKLYN,40.632894,-73.947699,<18,BLACK,F

In [5]:
updated_activities.head(2)

,Unnamed: 0,PROGRAM.TYPE,PROGRAM,SITE.NAME,BOROUGH...COMMUNITY,AGENCY,Contact.Number,Grade.Level...Age.Group,Location.1,Postcode,Latitude,Longitude
0,1,"Immigration Services,Immigrant Support Service...",NDA Immigrants,Make the Road New York,Jackson Heights,Make the Road New York,718-418-7690 X 205,Adult,92 10 Roosevelt Avenue,11372,40.748623,-73.874487
1,2,Jobs & Internships,Young Adult Internship Program,"NYSARC, Inc. NYC Chapter",Staten Island,"NYSARC, Inc. NYC Chapter",718.246.1506,16 to 24,120 Stuyvesant Place,10301,40.642992,-74.076954

In [10]:
set(teen_data['BORO_NM'])

{'BRONX', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'STATEN ISLAND'}

In [11]:
set(updated_activities['BOROUGH...COMMUNITY'])

{'Astoria',
 'Bronx',
 'Brooklyn',
 'Brookyn',
 'Corona',
 'Flushing',
 'Forest Hills',
 'Jackson Heights',
 'Jamaica',
 'Kew Gardens',
 'Long Island City',
 'Manhattan',
 'New York',
 'New York ',
 'Queens',
 'Staten Island'}

In [27]:
updated_activeis_byteen = updated_activities[(updated_activities['BOROUGH...COMMUNITY'] == 'Bronx') | (updated_activities['BOROUGH...COMMUNITY'] == 'Brooklyn')| (updated_activities['BOROUGH...COMMUNITY'] == 'Manhattan')| (updated_activities['BOROUGH...COMMUNITY'] == 'Queens')| (updated_activities['BOROUGH...COMMUNITY'] == 'Staten Island') ]

In [29]:
#updated_activeis_byteen.to_csv('updated_activities_by_teen_borough')

In [83]:
teen = teen_data.copy()

In [84]:
#teen['BORO_NM'].mask(teen['BORO_NM'] == 'BRONX', 'Bronx', inplace=True)

In [85]:
borough_to_replace = { 'BRONX': 'Bronx','BROOKLYN':'Brooklyn', 'MANHATTAN':'Manhattan','QUEENS': 'Queens','STATEN ISLAND':'Staten Island'}
teen['BORO_NM'] = teen['BORO_NM'].map(borough_to_replace)

In [86]:
teen.head(3)

,Unnamed: 0,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,LAW_CAT_CD,BORO_NM,Latitude,Longitude,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,71,637011777,12/31/2018,08:50:00,VIOLATION,Brooklyn,40.666662,-73.941062,<18,WHITE,M
1,75,466770769,12/31/2018,19:45:00,VIOLATION,Brooklyn,40.632894,-73.947699,<18,BLACK,F
2,105,854031512,12/31/2018,14:35:00,MISDEMEANOR,Brooklyn,40.592117,-73.984360,<18,BLACK,F

In [89]:
#teen.to_pickle('teen.pkl')

In [92]:
teen =  pd.read_pickle('teen.pkl')

In [55]:
#teen.to_csv('teen_fix_borough.csv')

In [61]:
updated_activeis_byteen.head(3)

,Unnamed: 0,PROGRAM.TYPE,PROGRAM,SITE.NAME,BOROUGH...COMMUNITY,AGENCY,Contact.Number,Grade.Level...Age.Group,Location.1,Postcode,Latitude,Longitude
1,2,Jobs & Internships,Young Adult Internship Program,"NYSARC, Inc. NYC Chapter",Staten Island,"NYSARC, Inc. NYC Chapter",718.246.1506,16 to 24,120 Stuyvesant Place,10301,40.642992,-74.076954
2,3,"After-School Programs,Beacon,NYCHA Community C...",Beacon Satellite,NYCHA REDFERN HOUSES,Queens,Police Athletic League @Redfern Community Center,(718) 471-0360,6 and up,1544 Hassock Street,11691,40.609102,-73.753359
3,4,After-School Programs,Out of School Time,P.S. 205 CLARION SCHOOL,Brooklyn,YMCA of Greater New York/Prospect Park,(718) 234-2655,Elementary,6701 20th Avenue,11204,40.615270,-73.987149

In [65]:
updated_activeis_byteen.shape

(1057, 12)

In [66]:
teen.shape

(16441, 11)

In [71]:
borough = list(set(updated_activeis_byteen['BOROUGH...COMMUNITY']))

In [72]:
borough

['Staten Island', 'Queens', 'Manhattan', 'Brooklyn', 'Bronx']

In [79]:
for b in borough:
    print(b,':',updated_activeis_byteen[updated_activeis_byteen['BOROUGH...COMMUNITY']==b].shape[0])

Staten Island : 58
Queens : 255
Manhattan : 93
Brooklyn : 445
Bronx : 206

In [97]:
set(updated_activities['Grade.Level...Age.Group'])

{' High School',
 '11+',
 '13 to 21',
 '14 to 24',
 '14-Nov',
 '16 to 21',
 '16 to 24',
 '16+',
 '18+',
 '20-May',
 '6 and up',
 'A parent 16 Years Old or Older ',
 'Adult',
 'Adults',
 'All Ages',
 'ESOL/Civics',
 'Elem/MS',
 'Elem/MS/HS',
 'Elementary',
 'High School',
 'MS/HS',
 'Middle School',
 'OST',
 'Seniors',
 'grades 6 to 8'}

In [98]:
updated_activities[updated_activities['Grade.Level...Age.Group'] == '6 and up']

,Unnamed: 0,PROGRAM.TYPE,PROGRAM,SITE.NAME,BOROUGH...COMMUNITY,AGENCY,Contact.Number,Grade.Level...Age.Group,Location.1,Postcode,Latitude,Longitude
2,3,"After-School Programs,Beacon,NYCHA Community C...",Beacon Satellite,NYCHA REDFERN HOUSES,Queens,Police Athletic League @Redfern Community Center,(718) 471-0360,6 and up,1544 Hassock Street,11691,40.609102,-73.753359
20,21,After-School Programs,Beacon,PS 149,Queens,Goodwill Industries of Greater NY,718.426.0888,6 and up,93 11 34th Avenue,11372,40.754837,-73.874605
31,32,"After-School Programs,Beacon,NYCHA Community C...",Beacon Satellite,NYCHA SOUNDVIEW HOUSES,Bronx,Directions for our Youth @Soundview Community ...,(718) 378-6246,6 and up,1680 Seward Avenue,10473,40.818369,-73.868950
36,37,After-School Programs,Beacon,Marta Valley HS,Manhattan,"Grand Street Settlement, Inc.",212.505.6338 ext.21,6 and up,145 Stanton Street,10002,40.720581,-73.985645
38,39,After-School Programs,Beacon,MS 158,Queens,"Samuel Field YM - YWHA, Inc.",718.423.2266,6 and up,46 35 Oceania Street,11361,40.756139,-73.772862
...,...,...,...,...,...,...,...,...,...,...,...,...
1002,1003,After-School Programs,Beacon,PS 198,Manhattan,"Stanley M. Isaacs Neighborhood Center, Inc.",212.828.6342,6 and up,1700 Third Avenue,10128,40.784826,-73.949611
1057,1058,"After-School Programs,Beacon,NYCHA Community C...",Beacon Satellite,NYCHA CYPRESS HILLS HOUSES,Brooklyn,Police Athletic League @Cypress Hills Communit...,(718) 277-6641,6 and up,475 Fountain Avenue,11208,40.668288,-73.873005
1061,1062,After-School Programs,Beacon,JHS 8,Queens,Southern Queens Park Association,718.276.4630 ext.15,6 and up,108 35 167th Street,11433,40.697190,-73.787192
1085,1086,After-School Programs,Beacon,IS 217,Bronx,"Simpson Street Development Association, Inc.",718.589.1510,6 and up,977 Fox Street,10459,40.822443,-73.893902
1086,1087,After-School Programs,Beacon,JHS 194,Queens,Flushing YMCA,718.747.3644 ext.10,6 and up,154 60 17th Avenue,11357,40.783650,-73.807838