In [1]:
import pandas as pd

In [21]:
teen_data = pd.read_csv("../data/teen_data.csv")
activities = pd.read_csv("../data/activities.csv")
updated_activities = pd.read_csv("../data/updated_activities.csv")

In [22]:
teen_data.head()

,Unnamed: 0,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,LAW_CAT_CD,BORO_NM,Latitude,Longitude,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,71,637011777,12/31/2018,08:50:00,VIOLATION,BROOKLYN,40.666662,-73.941062,<18,WHITE,M
1,75,466770769,12/31/2018,19:45:00,VIOLATION,BROOKLYN,40.632894,-73.947699,<18,BLACK,F
2,105,854031512,12/31/2018,14:35:00,MISDEMEANOR,BROOKLYN,40.592117,-73.984360,<18,BLACK,F
3,107,610893351,12/31/2018,12:00:00,VIOLATION,STATEN ISLAND,40.507256,-74.241258,<18,WHITE,F
4,300,405283758,12/31/2018,19:45:00,VIOLATION,BROOKLYN,40.577087,-73.991351,<18,BLACK,M

In [23]:
activities.head()

,PROGRAM TYPE,PROGRAM,SITE NAME,BOROUGH / COMMUNITY,AGENCY,Contact Number,Grade Level / Age Group,Location 1,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,After-School Programs,Beacon,IS 49,Staten Island,Jewish Community Center of Staten Island,718.556.1565,6 and up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"After-School Programs,Jobs & Internships,Youth...",In-School Youth Employment (ISY),Intermediate School 217 - Rafael Hernandez School,Bronx,"Simpson Street Development Association, Inc.",718.589.1510,High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,After-School Programs,Out of School Time,Building T 149,Queens,"Rockaway Artist Alliance, Inc.",(718) 474-0861,Elem/MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Reading & Writing,NDA Programs,Family Literacy",Adolescent Literacy,K 533- School for Democracy and Leadership 600...,Brooklyn,CAMBA,718.282.5575,grades 6 to 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"After-School Programs,NDA Programs,Youth Educa...",High-School Aged Youth,Voyagees Prepatory High School,Queens,Central Brooklyn Economic Development Corporation,(718) 592-5757,High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
updated_activities.head()

,Unnamed: 0,PROGRAM.TYPE,PROGRAM,SITE.NAME,BOROUGH...COMMUNITY,AGENCY,Contact.Number,Grade.Level...Age.Group,Location.1,Postcode,Latitude,Longitude
0,1,"Immigration Services,Immigrant Support Service...",NDA Immigrants,Make the Road New York,Jackson Heights,Make the Road New York,718-418-7690 X 205,Adult,92 10 Roosevelt Avenue,11372,40.748623,-73.874487
1,2,Jobs & Internships,Young Adult Internship Program,"NYSARC, Inc. NYC Chapter",Staten Island,"NYSARC, Inc. NYC Chapter",718.246.1506,16 to 24,120 Stuyvesant Place,10301,40.642992,-74.076954
2,3,"After-School Programs,Beacon,NYCHA Community C...",Beacon Satellite,NYCHA REDFERN HOUSES,Queens,Police Athletic League @Redfern Community Center,(718) 471-0360,6 and up,1544 Hassock Street,11691,40.609102,-73.753359
3,4,After-School Programs,Out of School Time,P.S. 205 CLARION SCHOOL,Brooklyn,YMCA of Greater New York/Prospect Park,(718) 234-2655,Elementary,6701 20th Avenue,11204,40.615270,-73.987149
4,5,After-School Programs,Out of School Time,PAL Armory,Manhattan,"Police Athletic League, Inc.",(212) 477-9450,High School,216 Fort Washington Avenue,10032,40.842571,-73.942097